/* 主题色：
红：#b93221
白：#FFFFFD
红灰：#d5847a
白灰：#d7d7d7
深灰：#323232
*/

/* 通用布局 */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    font-family: "Microsoft YaHei";
    background-color: #FFFFFD;
}
p {
    margin: 0;
    color: #323232;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFD;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    border-radius: .3rem;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #FFFFFD;
}

/* 附带搜索的头部 */
#search-header {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: #b93221;
}
#search-header-item {
    display: flex;
    align-items: center;
}
#search-header-items {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#search-header-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #FFFFFD;
    font-weight: bold;
}
#search-header-input-box{
    display: flex;
    align-items: center;
}
#search-header-input-icon{
    display: flex;
    align-items: center;
}
#search-header-input-icon img{
    width:1.1rem;
}
#search-header-input{
    width:9rem;
    border: none;
    border-radius: 1rem;
    padding: .3rem .5rem;
    outline: none;
    opacity: .5;
}

/* 附带返回的头部 */
#back-header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: #b93221;
    z-index: 100;
}
#back-header-items {
    width: 100%;
    display: flex;
}
#back-header-icon {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#back-header-icon img{
    width:1.1rem;
}
.back-header-text{
    font-size: 1rem;
    color: #FFFFFD;
}

/* 功能页切换器 */
#func-swich {
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: #b93221;
}
#func-swich-items {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.func-swich-item {
    margin: 0 1rem;
}
.func-swich-item a{
    color: #d5847a;
}
.func-swich-item-active {
    margin: 0 1rem;
}
/* 书架 */
#mybook-area {
    position: fixed;
    top: 100px;
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
}
.mybook-item {
    padding: .5rem ;
    margin: 0;
    margin-top: .1rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff2f2;
}
.mybook-cover img {
    width: 4rem;
}
.mybook-info {
    display: flex; 
}
.mybook-info-item {
    margin: .05rem 0;
    font-size: .9rem;
    font-weight: lighter;
}
.mybook-info-text {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
}
.mybook-read-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    
}
/* 发现页 */
#finding-items {
    width: 100%;
    padding: 0 1rem;
    padding: 0;
    margin-top: 1rem;
}
.finding-item {
    margin: .5rem;
    padding: 1rem;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}
.finding-item a{
    color: #323232;
}

/* 分类 */
#sort-area {
    padding: .5rem;
    position: relative;
    top: 50px;
}
.sort-title {
    padding: .5rem 0; 
    margin-bottom: .5rem;
    font-size: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #b93221;
}
.sort-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sort-item {
    display: inline-block;
    border: 1px solid #b93221;
    padding: .3rem .6rem;
    margin: .2rem;
    font-size: .9rem
}
.sort-item a{
    color: #323232;
}

.sort-item span{
    display: block;
    text-align: center;
}
.sort-item-name {

}
.sort-item-count {
    font-weight: lighter;
    font-size: .8rem;
}

/* 书籍列表 */
#list-area {
    padding: 0;
    position: relative;
    top: 50px;
    bottom: 0px;
    width: 100%;
}
#book-items {
    width: 100%;
}
.book-item {
    margin-bottom: .2rem;
    background-color: #fff2f2;
    padding: .5rem;
}
.book-title {
    font-size: 1rem;
    font-weight: bold;
    color: #b93221;
    cursor: pointer;
}
.book-author {
    font-size: .9rem;
    font-weight: lighter;
    color: #b93221;
}
.book-brief {
    font-size: .9rem;
    font-weight: lighter;
}
#next_button {
    margin: .5rem 0;
    border: 1px solid #fff2f2;
    padding: .5rem;
    text-align: right;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
    
}

/* 书籍 */
.split-line {
    border-top: 1px solid #323232;
}
#book-read-area {
    position: fixed;
    overflow-y: scroll;
    top: 50px;
    bottom: 50px;
    width: 100%;
    background-color: antiquewhite;
}
.book-text{
    
    font-family: Microsoft YaHei;
    font-size: 1.2rem;
    line-height: 100%;
    margin: 0;
    padding: .5rem;


}
#book-source-selector {
    margin: 0 auto;
    padding: .5rem;
    width: calc(100% - 1rem);
    position: fixed;
    overflow-y: scroll;
    top: 50px;
    bottom: 0px;
}

.book-source-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #d5847a;
}
.book-source-item-content {
    font-size: 1rem;
    font-weight: lighter;
    color: #323232;
}
.book-source-select-button {
    border: 1px solid #b93221;
    padding: .5rem;
    border-radius: 1rem;
    color: #b93221;
    min-width: 2rem;
    margin-left: .5rem;
    cursor: pointer;
}

#book-chapter-selector {
    margin: 0 auto;
    padding: .5rem;
    width: calc(100% - 1rem);
    position: fixed;
    overflow-y: scroll;
    top: 50px;
    bottom: 50px;
    background-color: antiquewhite;
}
.book-chapter-item {
    padding: .5rem 0;
    border-bottom: 1px solid #d5847a;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;
}
#book-read-cotrol {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #b93221;
    color: #FFFFFD;
}
#book-read-cotrol-bar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.book-read-cotrol-bar-item {
    cursor: pointer;
}